@use "sass:color";
@use "sass:math";

@tailwind base;
@tailwind components;
@tailwind utilities;

$rune-size: 6em;

@mixin vertical-hexagon {
  clip-path: polygon(
    #{math.sin(0) * 50 + 50%} #{math.cos(0) * 50 + 50%},
    #{math.sin(60deg) * 50 + 50%} #{math.cos(60deg) * 50 + 50%},
    #{math.sin(120deg) * 50 + 50%} #{math.cos(120deg) * 50 + 50%},
    #{math.sin(180deg) * 50 + 50%} #{math.cos(180deg) * 50 + 50%},
    #{math.sin(240deg) * 50 + 50%} #{math.cos(240deg) * 50 + 50%},
    #{math.sin(300deg) * 50 + 50%} #{math.cos(300deg) * 50 + 50%}
  );
}

.rune-token {
  --rune-border-width: 0.25em;
  
  $rune-spacing: $rune-size - math.sin(60deg) * $rune-size;

  @apply text-task-base-text;

  /* Our tokens are a vertical hexagon shape. */
  border: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: $rune-size;
  width: $rune-size;
  margin: math.div(-$rune-spacing, 2) 0;

  &:not(.complete, .picked) {
    opacity: 0.4;
  }

  // Pseudo-elements for the hexagon shape.
  &::before,
  &::after {
    @include vertical-hexagon();
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  &::before {
    // Represents the border colour.
    @apply bg-task-base-border;
    z-index: 0;
  }

  &::after {
    // Represents the background colour.
    @apply bg-task-base;
    top: var(--rune-border-width);
    bottom: var(--rune-border-width);
    left: var(--rune-border-width);
    right: var(--rune-border-width);
    z-index: 1;
  }

  &:not(.complete) {
    &:focus,
    &:hover {
      filter: brightness(110%);
    }
  }

  &.picked {
    @apply text-task-picked-text;
    &::before {
      @apply bg-task-picked-border;
    }
    &::after {
      @apply bg-task-picked;
    }
  }

  &.complete {
    @apply text-task-completed-text;
    &::before {
      @apply bg-task-completed-border;
    }
    &::after {
      @apply bg-task-completed;
    }
  }
}

// This takes care of positioning the bottom row of runes to match the grid.
.odd-width .rune-token:last-child:nth-child(even),
.even-width .rune-token:last-child:nth-child(odd) {
  margin-right: $rune-size;
}
