@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@theme {
  --font-sans: 'Rubik', ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --heading-fount: 'CH Modified', ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --color-primary: var(--color-slate-600);
  --color-primary-foreground: var(--color-white);

  --color-secondary: var(--color-slate-300);
  --color-secondary-foreground: var(--color-slate-800);

  --color-confirm: var(--color-green-600);
  --color-confirm-foreground: var(--color-white);

  --color-destructive: var(--color-red-600);
  --color-destructive-foreground: var(--color-white);
}

@layer base {
  @font-face {
    font-family: "CH Modified";
    src: url(./founts/CHModified-Heavy.woff) format("woff"),
      url(./founts/CHModified-Heavy.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
  }

  * {
    @apply border-zinc-300 dark:border-zinc-700;
    /* setting the default border colour. */
  }

}

@utility heading-text {
  font-family: var(--heading-fount);
  @apply font-normal leading-tight uppercase;
}
