@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* https://www.readyjs.dev/tools/shadcn-ui-theme-generator?primaryColor=%23554ce7&chartColorScheme=square */
  /* Why hsl values?! */
  :root {
    --background: 243.5 50% 95%;
    --foreground: 243.5 2.5% 7.5%;
    --card: 243.5 25% 95%;
    --card-foreground: 243.5 2.5% 12.5%;
    --popover: 243.5 50% 97.5%;
    --popover-foreground: 243.5 97.5% 5%;
    --primary: 243.5 76.4% 60.2%;
    --primary-foreground: 0 0% 100%;
    --secondary: 243.5 20% 80%;
    --secondary-foreground: 0 0% 0%;
    --muted: 281.5 20% 90%;
    --muted-foreground: 243.5 2.5% 37.5%;
    --accent: 281.5 20% 85%;
    --accent-foreground: 243.5 2.5% 12.5%;
    --destructive: 0 75% 40%;
    --destructive-foreground: 243.5 2.5% 95%;
    --confirm: 130 91.5% 46.3%;
    --confirm-foreground: 0, 0%, 0%;
    --border: 243.5 25% 66%;
    --input: 243.5 25% 34%;
    --ring: 243.5 88.7% 45.3%;
    --radius: 0.5rem;

    --chart-1: 195.9 72% 53%;
    --chart-2: 285.9 72% 53%;
    --chart-3: 15.9 72% 53%;
    --chart-4: 105.9 72% 53%;
    --chart-5: 240.9 65% 58%;

    --sidebar-background: 244, 50%, 90%;
    --sidebar-foreground: 244, 3%, 7%;
    --sidebar-primary: 244, 76%, 54%;
    --sidebar-primary-foreground: 0, 0%, 100%;
    --sidebar-accent: 282, 20%, 81%;
    --sidebar-accent-foreground: 0 0% 0%;
    --sidebar-border: 244, 25%, 63%;
    --sidebar-ring: 234, 98%, 45%;
  }

  .dark {
    --background: 243.5 30% 7.5%;
    --foreground: 243.5 2.5% 95%;
    --card: 243.5 25% 5%;
    --card-foreground: 243.5 2.5% 95%;
    --popover: 243.5 30% 5%;
    --popover-foreground: 243.5 2.5% 95%;
    --primary: 243.5 76.4% 60.2%;
    --primary-foreground: 0 0% 100%;
    --secondary: 243.5 20% 15%;
    --secondary-foreground: 0 0% 100%;
    --muted: 281.5 20% 20%;
    --muted-foreground: 243.5 2.5% 62.5%;
    --accent: 281.5 20% 20%;
    --accent-foreground: 243.5 2.5% 92.5%;
    --destructive: 0 75% 40%;
    --destructive-foreground: 243.5 2.5% 95%;
    --confirm: 130 91.5% 46.3%;
    --confirm-foreground: 0, 0%, 0%;
    --border: 243.5 25% 34%;

    --input: 243.5 25% 34%;
    
    --ring: 243.5 88.7% 45.3%;
    
    --radius: 0.5rem;
    
    --chart-1: 195.9 72% 53%;
    --chart-2: 285.9 72% 53%;
    --chart-3: 15.9 72% 53%;
    --chart-4: 105.9 72% 53%;
    --chart-5: 240.9 65% 58%;
    
    --sidebar-background: 244, 30%, 10%;
    --sidebar-foreground: 244, 3%, 100%;
    --sidebar-primary: 244, 76%, 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 282, 20%, 17%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 244, 25%, 32%;
    --sidebar-ring: 234, 98%, 45%;
  }
}

@layer base {
  @font-face {
    font-family: "CH Modified";
    src: url(./founts/CHModified-Heavy.woff) format("woff"),
      url(./founts/CHModified-Heavy.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
